/***************************GENERAL***********************************************
*********************************************************************************/

/****FONTS*****/
@font-face{
    font-family: "secrettypewriter";
    src: url("fonts/text/web_fonts/secrettypewriter_regular_macroman/veteran_typewriter-webfont.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "rajdhanisembold";
    src: url("fonts/main_title/web_fonts/rajdhani_semibold_macroman/rajdhani-semibold-webfont.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "rajdhanibold";
    src: url("fonts/main_title/web_fonts/rajdhani_bold_macroman/rajdhani-bold-webfont.woff");
    font-weight: normal;
    font-style: normal;
}



p,article,button
{
    font-family: "secrettypewriter","arial","sans serif";
    font-size: large;
}

a
{
    font-family: "secrettypewriter","arial","sans serif";
    font-size: large;
    font-style:bold;
    color:#3fb6ca;
    text-decoration: none;
}


a:visited
{
    color: rgb(63, 43, 7);
}

a:hover, a:focus, a:active
{
    text-decoration: none;
    color: rgb(11, 86, 116);
}

h1
{
    font-size: 2.4em;
    font-family: "rajdhanibold";
    font-weight: bold;
    color:white;
}

h3,h4,h5,h6,label,caption,th,td
{
    font-family: "rajdhanisembold";
}

h2
{
    font-size: 2.2em;
    font-family: "rajdhanibold";
    font-weight: bold;
}

h3,caption
{
    font-size: 1.5em; 
    font-style: italic;
}

h4
{
    font-size: 1.2em;
    font-weight: bold;
}

h5
{
    font-size: 1.2em; 
}
/**********BODY********
FOR ALL PAGES
***********************/
body{
    width: 100%;
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
   

}

/**************HEADER MAIN*********************************
FOR PAGES : HOME - EXTRACTS - CHAPTERS - CONNECT - CONTACT
***********************************************************/

header
{
    width: 100%;
    height: 200px;
    top: -20PX;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: row-reverse;
    background-color: #316b75;
    box-shadow: 0px 5px 10px 0px #31353a45;
}




header nav
{
    position: relative;
    transform: rotate(5deg);
    bottom: -38PX;
    z-index: 90;
    
}

header nav img
{
    width: 40PX;
    height: 40px;
    z-index: 100;
}

header nav ul 
{
    width: 150PX;
    list-style-type: none;
    padding: 3px;
    position: absolute;
    overflow: hidden;
}

header nav ul li a
{
    display: block;
    color: #422103;
    text-align: center;
    padding: 4px 3px;
    text-decoration: none;
    text-shadow: 0 1px 2px #eee8d4;
    font-weight: bold;
}

header #background_mainmenu 
{
    width: 190px;
    height:290px;
    bottom: 0px;
    transform: rotate(5deg);
    overflow: hidden;
    margin-left: -66px;   
    position: relative; 
}

/**website main titles**/
.website_main_titles
{
    text-align: right;
   
}


/*********MAIN (=first block)******************
 FOR  PAGES : HOME - EXTRACTS - CHAPTERS 
***********************************************/
main
{
    width: 100%;
    margin: 0;    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3fb6ca;
    box-shadow: inset -50px 0px 50px -50px rgba(47, 130, 144); 
}
/*****SECTION MAIN BLOCK***/
.mainblock
{
    width: 80%;
    height: 85VH;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
}

/**main picture**/
section .main_picture
{
    width: 30%;
    
}

/**website main subtitles**/
section .main_subtitles
{
    width: 100%;
}

section .main_subtitles #alaska_book
{
    color:white;
    font-size: 3em;

}
.goldpaint_separator
{
    width:10%;
}


#anchor_to_bottom
{
    
}

#anchor_to_bottom img
{
    width : 5%;
}

/****SECTION CONTENT BLOCK*****/

.content_block 
{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px 0 50px 0;  
}

.content_block hgroup
{
    width: 70%;
    margin: 10px 0 40px 0;
}

.content_block .content_text
{
    text-align: left;
    width: 70%;
}

/****************FOOTER MAIN**************************************
FOR PAGES : HOME - EXTRACTS - CHAPTERS - CONNECT - CONTACT - ERROR
******************************************************************/
footer
{
       background-color: #316b75;   
    border-top: groove 2px rgb(85, 64, 11);   
    height: 120px;
    align-items: center;
}

#mention 
{
    width: 100%;
    height:50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#mention a
{
    font-family: "rajdhanisembold";
    font-size: larger;
    color: white;
    font-weight: bold;
    
   
}

/*******************FORMS GENERAL***************************
 FOR PAGES : CHAPTERS (comments) - CONTACT - ADMIN (tinymce) 
 ***********************************************************/

form
{
    background-color: #d0d9da;
    padding: 10px 10px 10px 10px;
}

.place_form
{
    display: flex;
    flex-direction: column;
    margin: 5px 0 5px 0; 
}

label
{
   margin-bottom: 5px; 
}

input
{
    width: 40%;
    height: 30px;
    
}

textarea
{
    width: 80%;
    height:auto;
    margin: 5px 0 5px 0; 
}

.button_form
{
    display: flex;
    text-align: center;
    justify-content: space-around;
}

form button
{
    background-color:#316b75;
    text-shadow: none;
    box-shadow: none;
    border: none;
    margin-top: 10px;
    color: white;
    padding: 4px 4px 4px 4px;
}



/******************************GENERAL CHAPTER AND EXTRACT PAGE*************************************
*********************************************************************************/
.content_extracts_chapters
{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.content_extracts_chapters article
{
    margin-bottom: 100px;
    background-color: #ffffff;
    border-bottom: 10px solid rgba(49, 107, 117, 0.08);
}

.content_extracts_chapters img
{
    width: 150px;
    height: 150px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 60px; 
    box-shadow: -5px 5px 15px rgba(128, 128, 128, 0.48);
    border-radius: 100px;
    border: 5px solid #e89f0a7d;
}



.content_extracts_chapters h3
{
    text-align: center;
    color: #3fb6ca;
    border-bottom: 2px solid;
    margin: 20px;
}

.content_extracts_chapters .date_chapter
{
    margin-left: 15px;
    font-style: italic;
}

.content_extracts_chapters .text_chapter
{
    text-align: justify; 
    margin: 0 15px 5px 15px;
}


.content_extracts_chapters a
{
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #316b75;
    padding: 4px 4px 4px 4px;
    margin-left: 15px; 
    
}

.content_extracts_chapters .chapter_buttons
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/*********************CHAPTERS******************************************/
/***Block posted comments + form****/
.comments_block
{

}

.all_posted_comments
{
    margin-top:60px;
}

/****Block posted comments***/
.posted_comments
{
    background-color: #c3bfbb1c;
    margin: 40px 0px 30px 0px;
    border-bottom: 2px solid #4a4823;
    padding: 10px 10px 10px 10px;
}

.comment_status 
{
    text-align: center;
}

.comment_status a
{
    text-decoration: none;
    background-color: #989c9c;
    text-shadow: none;
    box-shadow: none;
    border: none;
    margin-top: 10px;
    color: black;
    padding: 4px 4px 4px 4px;
}

.posted_comments .validated_comment
{
    color:green;
}


.posted_comments .reported_comment
{
    color:rgb(190, 42, 42);
}

/****Block comment form****/
.comments_block form
{

}

.comments_block form label
{

}

.comments_block form button
{

}


/*********************************SPECIAL PAGES*****************************************
ERROR - CONNECT - ADMIN  
***********************************************************************************/
/***ERROR***/

/*******CONNECT PAGE*********
*****************************/

/****CONNECT CONTENT****/


/********ADMIN PAGE**********
*****************************/

/***ADMIN HEADER***/
#admin_page_title
{
    margin-right: 25px;
    text-align: right;
}
#logout img
{
    width: 40px;
    height: 40px;
}

#logout a
{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    color: #ffffff;
}


/****ADMIN CONTENT***/
.admin_main_container
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3fb6ca;
    box-shadow: inset -50px 0px 50px -50px rgba(47, 130, 144); 
}

.admin_main_block
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#6d6b67 ;
}

/**Admin page menu**/
.menu_admin
{
    width: 90%;
}

.menu_admin ul
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.menu_admin li
{
    width: 100PX;
    padding: 15px;
    margin: 5px;
    background-color: white;
    border: 3px solid #a7a4a4;
    text-align: center;

}

.menu_admin li a
{
    color:black;
}

/****************/

/***General admin action blocks : chapters & comments**/
.admin_action_block
{
    display: flex;
    justify-content: center;
    
}

 
.table a
{
    font-family:"rajdhanisembold" ;
    
}

table
{
    border: 3px solid #a7a4a4;    
    width: 90%;
    margin-bottom: 30px;
    table-layout: fixed;
 

}
  
table caption
{
    color: white;
    margin: 30px 0 5px 0;
    text-align: left;
}
  
table tr 
{
    background-color: #f8f8f8;
    border: 1px solid #a7a4a4;
}
  
table th,table td 
{
    padding: 5px 5px 5px 5px;
    text-align: center;
    overflow-wrap: break-word;
}
  
table th 
{
   
    background-color:#d0d9da ;
}

table .unread_mail
{
    background:#5d5b58;
}

.admin_main_container .admin_subtitles
{
    text-align: center;
    margin:30px 0 30px 0;

}

.admin_main_container .admin_subtitles h2
{
    color: white;
}

.admin_main_block .tinymce_block
{
   width:90%; 
   margin: 60px 0 60px 0;
   display: flex;
   flex-direction: column;
   border: 3px solid #a7a4a4;   

}

.tinymce_block #tinymce_title
{
  
    margin-bottom: 10px;
}

.tinymce_block #tinymce_title #input_tinymce_title
{
    font-family: "rajdhanisembold";
    font-size: 1.5em; 
    font-style: italic;
}



/********MEDIA QUERIES*************
************************************/
/***Table****/
@media screen and (max-width: 600px) {
table 
{
   border: 0;
}
  
table caption 
{
    font-size: 1.3em;
}
    
table thead
{
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
    
table tr 
{
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
    
}
    
table td 
{
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
}
    
    
table td::before 
{   
      
    content: attr(data-label);
    float: left; 
    text-transform: uppercase;
}
    
    
table td:last-child 
{
    border-bottom: 0;
}

}
