/***************************GENERAL***********************************************
*********************************************************************************/

/****FONTS*****/
@font-face{
    font-family: "secrettypewriter";
    src: url("fonts/text/web fonts/secrettypewriter_regular_macroman/veteran_typewriter-webfont.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "rajdhanisembold";
    src: url("fonts/main title/web fonts/rajdhani_semibold_macroman/rajdhani-semibold-webfont.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "rajdhanibold";
    src: url("fonts/main title/web fonts/rajdhani_bold_macroman/rajdhani-bold-webfont.woff");
    font-weight: normal;
    font-style: normal;
}



p,a,article,label,button,td,th
{
    font-family: "secrettypewriter","arial","sans serif";
    font-size: 1em;
   
}

h1
{
    font-size: 2.4em;
    font-family: "rajdhanibold";
    font-weight: bold;
    color:white;
}

h3,h4,h5,h6,th,td
{
    font-family: "rajdhanisembold";
}

h2
{
    font-size: 2.2em;
    font-family: "rajdhanibold";
    font-weight: bold;
}

h3
{
    font-size: 1.5em; 
    font-style: italic;
}

h4,
{
    font-size: 1.2em;
    font-weight: bold;
}

h5
{
    font-size: 1.2em; 
}
/**********BODY********
FOR ALL PAGES
***********************/
body{
    width: 100%;
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
   

}

/**************HEADER MAIN*********************************
FOR PAGES : HOME - EXTRACTS - CHAPTERS - CONNECT - CONTACT
***********************************************************/

header
{
    width: 100%;
    height: 200px;
    top: -20PX;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: row-reverse;
    background-color: #316b75;
    box-shadow: 0px 5px 10px 0px #31353a45;
}




header nav
{
    position: relative;
    transform: rotate(5deg);
    bottom: -38PX;
    z-index: 90;
    
}

header nav img
{
    width: 40PX;
    height: 40px;
    z-index: 100;
}

header nav ul 
{
    width: 150PX;
    list-style-type: none;
    padding: 0;
    position: absolute;
    overflow: hidden;
}

nav ul li a
{
    display: block;
    color: #422103;
    text-align: center;
    padding: 5px 3px;
    text-decoration: none;
    text-shadow: 0 1px 2px #eee8d4;
    font-weight: bold;
}

header #background_mainmenu 
{
    width: 188PX;
    bottom: 0px;
    transform: rotate(5deg);
    overflow: hidden;
    margin-left: -66px;   
    position: relative; 
}

/**website main titles**/
.website_main_titles
{
    text-align: right;
   
}


/*********MAIN (=first block)******************
 FOR  PAGES : HOME - EXTRACTS - CHAPTERS 
***********************************************/
main
{
    width: 100%;
    margin: 0;
    margin-top: 20PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3fb6ca;
    box-shadow: inset -50px 0px 50px -50px rgba(47, 130, 144); 
}
/*****SECTION MAIN BLOCK***/
.mainblock
{
    width: 80%;
    height: 85VH;
    margin: 0;
    padding: 0;
    margin-top: 160px;
    display: flex;
    align-items: center;
    text-align: center;
}

/**main picture**/
section .main_picture
{
    width: 30%;
    
}

/**website main subtitles**/
section .main_subtitles
{
    width: 100%;
}

section .main_subtitles #alaska_book
{
    color:white;
    font-size: 3em;

}
.goldpaint_separator
{
    width:10%;
}


#anchor_to_bottom
{
    
}

#anchor_to_bottom img
{
    width : 5%;
}

/****SECTION CONTENT BLOCK*****/

.content_block 
{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px 0 50px 0;  
}

.content_block hgroup
{
    width: 70%;
    margin-top: 10px;
}

.content_block .content_text
{
    text-align: left;
    width: 70%;
}

/****************FOOTER MAIN*******************************
FOR PAGES : HOME - EXTRACTS - CHAPTERS - CONNECT - CONTACT 
***********************************************************/
footer
{
   
background-color: #316b75;   
border-top: groove 2px rgb(85, 64, 11);   
height: 120px;
align-items: center;
}

#mention 
{
    width: 100%;
    height:50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#mention a
{
    font-family: "rajdhanisembold";
    font-size: 0.8em;
    color: white;
    font-weight: bold;
    text-decoration: none;
   
}

/*******************FORMS GENERAL***************************
 FOR PAGES : CHAPTERS (comments) - CONTACT - ADMIN (tinymce) 
 ***********************************************************/

form
{
    
    background-color: #d0d9da;
    padding: 10px 10px 10px 10px;
}

.place_form
{
    
    align-items: center;
    margin: 5px 0 5px 0; 
}

label
{

}

input
{
    width: 40%;
    height: 30px;
    
}

textarea
{
    width: 100%;
    height:auto;
    margin: 5px 0 5px 0; 
}

.button_form
{
    text-align: right;
}

form button
{
    background-color: #ffffff;
    text-shadow: none;
    box-shadow: none;
    border: none;
    margin-top: 10px;
}



/******************************GENERAL CHAPTER AND EXTRACT PAGE*************************************
*********************************************************************************/
.content_extracts_chapters
{

}

.content_extracts_chapters article
{

}

.content_extracts_chapters img
{

}

.content_extracts_chapters h3
{

}

.content_extracts_chapters p
{

}

/*********************CHAPTERS******************************************/
/***Block posted comments + form****/
.comments_block
{

}

/****Block posted comments***/
.posted_comments
{
    background-color: #c3bfbb1c;
    margin: 80px 0px 30px 0px;
    border-bottom: 2px solid #4a4823;
    padding: 10px 10px 10px 10px;
}

.posted_comments h4
{

}

.posted_comments h5
{

}


.posted_comments p
{

}

/****Block comment form****/
.comments_block form
{

}

.comments_block form label
{

}

.comments_block form button
{

}


/*********************************SPECIAL PAGES*****************************************
CONNECT - ADMIN
***********************************************************************************/

/*******CONNECT PAGE*********
*****************************/

/****CONNECT CONTENT****/


/********ADMIN PAGE**********
*****************************/

/***ADMIN HEADER***/
#admin_page_title
{
    margin-right: 25px;
    text-align: right;
}
#logout img
{
    width: 40px;
    height: 40px;
}

#logout a
{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: #ffffff;
}


/****ADMIN CONTENT***/
.admin_main_container
{
    width: 100%;
    height:auto;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3fb6ca;
    box-shadow: inset -50px 0px 50px -50px rgba(47, 130, 144); 
}

.admin_main_block
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#316b75 ;
}

.admin_main_block h4
{
    color:white;
    text-align: left;
}

table
{
    width:90%;
    margin:30px 0 30px 0;
}

table,
td {
    border: 1px solid #316b75;
    background-color: white;
}

th
{
    width:20%;
    color:white;
    background-color:#3fb6ca; 
}

thead,tfoot 
{
    background-color: #ffffff;
    color:black;
}

.admin_main_container .admin_subtitles
{
    text-align: center;
    margin:30px 0 30px 0;

}

.admin_main_container .admin_subtitles h2
{
    color: white;
}

.admin_main_block .tinymce_block
{
   width:90%; 
   margin-bottom: 60px;

}
/***ADMIN FOOTER****/
